
<style type="text/css">
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
</style>

<div class="container">
  <h2>重置密码 </h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, placeholder:"email 地址", :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>现在正在等待验证<%= resource.unconfirmed_email %></div>
  <% end %>

  <div><i>(如果不想更改密码请留空)</i><br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

  <%= f.password_field :password_confirmation, placeholder:"密码确认" %>

  <div> <i>(当前密码，我们需要确认是否是本人操作..)</i><br />
    <%= f.password_field :current_password %></div>

  <div><%= f.submit "更新" %></div>
<% end %>

<h3>取消我的帐号</h3>

<p><%= button_to "取消我的帐号", registration_path(resource_name), :data => { :confirm => "你确定要这么做么?" }, :method => :delete %></p>
</div>
