<table class="table table-striped table-bordered" border = "1">
  <caption><p><%= @user.email %>:<b><%= @time.strftime("%Y/%m")%></b></p></caption>
  <tr>
    <% if @time_last_month > @time_earlist_checkin %>
      <td>
        <%= link_to "上月", project_checkins_path(:project_id => @project.id, :year => @time_last_month.year, :month => @time_last_month.month, :member_id => @user.id) %>
      </td>
    <% end %>

    <% if @time_next_month <= Time.now %>
      <td colspan="2" >
        <%= link_to "下月" ,project_checkins_path(:project_id => @project.id, :year => @time_next_month.year, :month => @time_next_month.month, :member_id => @user.id) %>
      </td>
    <% end %>
  </tr>
  <tr>
    <tr>
      <th>时间</th>
      <th>状态</th>
    </tr>

    <% for day in 1..@checkins_on_month.length %>
      <% if @checkins_on_month[day] == nil %>
        <tr class="warning">
        <% elsif @checkins_on_month[day].pending? %>
          <tr class="info">
          <% elsif @checkins_on_month[day].approved? %>
            <tr class="success">
              <% else @checkins_on_month[day].declined? %>
                <tr class="error">
    <% end %>

             <td align="center"><%= day %></td>
        <% if @checkins_on_month[day] == nil %>
          <td></td>
          <% elsif @checkins_on_month[day].pending? %>
            <td><p align="center">待审</p></td>
          <% elsif @checkins_on_month[day].approved?%>
            <td >通过</td>
          <% elsif @checkins_on_month[day].declined?%>
            <td>拒绝</td>
          <% else %>
            <td></td>
          <% end %>
        <% if can?(:manage, @project) and @checkins_on_month[day] != nil and @checkins_on_month[day].state == "pending" %>
          <td>
            <%= button_to("拒绝", project_checkin_path(:project_id => @project, 
                          :id => @checkins_on_month[day], :state => "declined"),  :method => :put)%>
          </td>
          <td>
            <%= button_to("同意", project_checkin_path(:project_id => @project, :id => @checkins_on_month[day], 
                                                       :state => "approved"), :method => :put)  %>
          </td>
        <%end%>
      </tr>
    <% end %>
  </table>
