<p>你好:</p>
<p>在项目<b> <%= @project.name %> </b> 中 </p>
<p>您的成员 <b> <%= @member.email %> </b> 于 <b> <%= Time.now %> </b> 向你申请打卡</p>
请选择
<%= button_to "无情的拒绝", project_checkin_url(:project_id => @project.id, :id => @line.id, :state => "declined", :method => :put)%>
  或
  <%= button_to "同意", project_checkin_url(:project_id => @project.id, :id => @line.id, :state => "approved", :method => :put)%>

