<br /><br />
<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <h3>你创建的项目:</h3>
      <% if @projects.blank? %>
        空
      <% else %>
        <ol>
          <% for project in @projects %>
            <li>
              <%= link_to(project.name, project_path(project.id),class:"")%>    </li> 
            <br />
          <% end %>
        </ol>
      <% end %>

    </div>
    <div class="span6">
      <h3>你参与的项目:</h3>
      <% if @join_projects.blank?%>
        空
      <%else%>
        <ol>
          <% for project_id in @join_projects %>
            <li>
              <%= link_to(Project.find(project_id).name, project_path(project_id))%>

              &nbsp; &nbsp;
              <%= link_to( "今日打卡", checkins_path(:project_id => project_id), class:"btn btn-success", method: :post)%>
              <%= link_to( "其他日期", "javascript:void(0)", class:"btn btn-success", id:"other_date_#{project_id}")%>
              <div class="other_time_<%=project_id%>" style="display: none;">
                <%= form_tag checkins_path(:project_id => project_id), method: :post do%>
                  <%= text_field_tag :date, "", class:"span3",id:"datetimepicker_#{project.id}" %>
                  <%= submit_tag "确认在此天打卡", class:"btn"%>
                  <script>
                    $("#datetimepicker_<%= project.id%>").datetimepicker({
                    pickTime: false
                  });

                    $("#other_date_<%=project_id%>").click(function(){
                      $(".other_time_<%=project_id%>").show();
                    })
                  </script>
                <% end %>
              </div>
            </li>
            <br />
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>


