<h1>新项目</h1>

<%= form_for @project , :validate => true do |f| %>
  <p>
    <%= f.label "标题"%>
    <%= f.text_field :name,:validate => {:pressence => true } %>
  </p>
  <%= f.label "描述"%>
  <%= f.text_area :description, :row => 6, :validatte => true %>

  <div class = "actions">
    <%= f.submit "创建新项目", :disable_with => "正在提交 ..." %>
  </div>
<% end%>
