<div class="container-fluid">
  <%= form_for @project , :validate => true do |f| %>
    <div class="row-fluid"> 
      <div class="span1" align="center">
        <%= f.label "标题:"%>
      </div>
      <div class="span8">
        <%= f.text_field :name,:validate => {:pressence => true } %>
      </div>
    </div>

    <div class="span1">
      <%= f.label "描述:"%>
    </div>
    <%= f.text_area :description, :validatte => true %>

    <div class = "actions" align="center">
      <%= f.submit "创建新项目", :disable_with => "正在提交 ..." %>
    </div>
  <% end%>
</div>
