<p>项目名称:<%= @project.name %> </p>
<p>项目描述:<%= @project.description %></p>
<% if can? :manage, @project %>
  <%= form_tag(project_path, :method => "put")  do %>
    <%= label_tag(:new_mem,"增加新成员") %>
    <% @emails = "" %>
    <%  User.all.each {|user| @emails += "<option>#{user.email}</option>" if user != current_user }%>
    <%= select_tag(:new_member,@emails.html_safe) %>
    <%= hidden_field_tag(:project_id, params[:id]) if false %>
    <%= submit_tag("确定") %>
  <% end %>
  <p ><b>项目状况:</b></p>
 
  <table class="table table-striped table-bordered" border = "1">
    <tr>
      <th>成员</th>
      <th>待审</th>
      <th>拒绝</th>
      <th>同意</th>
      <th>总数</th>
    </tr>

    <% for member in @project.users %>
      <tr>
        <td><%= link_to(member.email, project_checkins_path(@project, :member_id => member.id)) %></td>
        <% @count = CheckinDomain.new.get_user_checkins_count_in_project(member.id, @project.id)%>
        <td><%= @count[:pending]%></td>
        <td><%= @count[:declined]%></td>
        <td><%= @count[:approved]%></td>
        <td><%= @count[:sum]%></td>
      </tr>
    <% end %>
  </table>
  <br />
<%end%>
