<div class="well">
  <p align="center"><b><%=@project.name %></b> </p>
</div>
<p align="center">项目描述:<%= @project.description %></p>
<% if can? :manage, @project %>
  <%= form_tag(project_invites_path(project_id:@project.id), :method => "post")  do %>
    <%= label_tag(:new_mem,"增加新成员") %>
    <% @emails = "" %>
    <%  User.all.each {|user| @emails += "<option>#{user.email}</option>" if user != current_user }%>
    <div class="row"> 
      <%= select_tag(:user_email,@emails.html_safe) %>
      <%= text_field_tag :message, "", placeholder:"邀请语"%>
      &nbsp; 
      <%= submit_tag("发送邀请", class:"btn") %>
    </div>
  <% end %>
  <p ><b>项目状况:</b></p>

  <table class="table table-striped table-bordered" border = "1">
    <tr>
      <th>成员</th>
      <th>待审</th>
      <th>拒绝</th>
      <th>同意</th>
      <th>总数</th>
    </tr>

    <% for member in @project.users %>
      <tr>
        <td>
          <%= link_to(UserDomain.get_user_name(member.id), project_checkins_path(@project, :member_id => member.id)) %> 
          <%= button_to("删除此用户", project_memberships_path(project_id:@project.id, user_id:member.id), class:"btn", :data => { :confirm => "确定要删除此用户么?" }, :method => :delete)%>
          <% @count = CheckinDomain.new.get_user_checkins_count_in_project(member.id, @project.id)%>
          <td><%= @count[:pending]%></td>
          <td><%= @count[:declined]%></td>
          <td><%= @count[:approved]%></td>
          <td><%= @count[:sum]%></td>
        </tr>
      <% end %>
    </table>
    <br />
  <%end%>
