<% if flash[:notice] %>
  <%= puts flash[:notice] %>
<% end %>
<% if flash[:alert] %>
  <%= puts flash[:alert] %>
<% end %>
<p>项目名称:<%= @project.name %> </p>
<p>项目描述:<%= @project.description %> </p>
<br> </br>
<% if @admin %>
<%= form_tag("/projects/add_member", :method => "get")  do %>
    <%= label_tag(:new_mem,"增加新成员") %>
    <%= text_field_tag(:new_member) %>
    <%= hidden_field_tag(:project_id, params[:id] ) %>
    <%= submit_tag("确定") %>
  <%end%>
<% end %>
<p>项目成员:</p>
<% if @project.users.blank?%>
    没有成员!
  <% else %>
    <ul>
       <% for member in @project.users %>
            <li> <%= member.email %> </li>
       <% end %>
    </ul>
<% end %>

<%if not @admin %>
  <%= Time.now.day %>
  <%= button_to( "今日打卡", project_path(:id => 8)) %> 
<% end %>

<table border="1">
  <tr> 
    <th>时间</th>
    <th>成员</th>
    <th>状态</th> 
  </tr>
<% @project.checkins.all.each do | checkin |%>
<tr>
  <td><%= checkin.created_at %></td>
  <td><%= checkin.user.email%></td>
  <td><%= checkin.state %></td>
</tr>
<% end %>
</table>

