  <table border = "1">
    <tr>
      <th>项目</th>
      <th>待审</th>
      <th>拒绝</th>
      <th>同意</th>
      <th>总数</th>
    </tr>
    <% unless @project %>
      <tr>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
        <th>0</th>
      </tr>
    <% end %>
    <% for project in @projects %>
      <tr>
        <td><%= project.name%></td>
        <% @count = CheckinDomain.new.get_user_checkins_count_in_project(current_user.id, project.id)%>
        <td><%= @count[:pending]%></td>
        <td><%= @count[:declined]%></td>
        <td><%= @count[:approved]%></td>
        <td><%= @count[:sum]%></td>
      </tr>
    <% end %>
  </table>

    <br /> <br />
 <table border = "1">
    <tr>
      <th>项目</th>
      <th>状态</th>
      <th>时间</th>
    </tr>

    <% for checkin in @checkins %>
      <tr>
        <td><%= checkin.project.name if checkin.project %></td>
        <td><%= checkin.state %></td>
        <td><%= checkin.created_at %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @checkins %>
