<!DOCTYPE html>
<html>
<head>
  <title>Checkingin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  

  <div class="user_status" >
  <% if user_signed_in? %>
    <%= link_to  current_user.email, user_home_index_path %>
    <%= link_to  "退出", destroy_user_session_path,:method =>:delete %>
  <% else %>
                       <%= link_to "登录", new_user_session_path %>
  <% end if %>
  </div>


  <%= yield %>
</body>
</html>
