<!DOCTYPE html>
<html>
<head>
  <title>Checkingin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:alert].present? %>
    <font color=red> <%= flash[:alert] %> </font>
  <% end %>
  <% if flash[:notice].present? %>
    <font color=green> <%= flash[:notice] %> </font>
  <% end %>
  <div class="user_status" >
    <% if user_signed_in? %>
      <%= link_to  current_user.email, user_path(current_user.id) %>
      <%= link_to  "退出", destroy_user_session_path,:method =>:delete %>
    <% else %>
      <%= link_to "登录", new_user_session_path %>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
